
html, body, .root {
  height: 100%;
}

body {
  background: #eeeeee;
  font-family: 'Vollkorn', serif;
}

.rv-xy-plot {
  font-family: sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.solid{
  border-style: solid;
  border-color: #d0e59e;
}
#speakButton {
  background-color: #97be8c; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}


header {
  width: 100%;
  padding: 1rem;

  text-align: center;
  background: #97be8c;

  }

footer {
    width: 100%;
    padding: 1rem;

    text-align: center;
    background: #97be8c;
}

#mode{


}

#help{


}

button {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
